{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="heading mt-4">
					<h2>Incomes</h2>
				</div>
				<div class="sub-head mt-4 mb-2">
					<h4>Edit your Income</h4>
				</div>
				<form action="/edit_income/{{income.id}}/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>Title</label>
						<input class="form-control" type="text" name="income_title" placeholder="Title" value="{{income.title}}">
					</div>
					<div class="form-group">
						<label>Amount</label>
						<input class="form-control" type="number" name="income_amount" placeholder="Amount" value="{{income.amount}}">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" name="income_description" placeholder="Description">{{income.description}}</textarea>
					</div>
					<button type="submit" class="btn btn-secondary">Save Details</button>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}