{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="heading mt-4">
					<h2>Expenses</h2>
				</div>
				<div class="sub-head mt-4 mb-2">
					<h4>Create Expense</h4>
				</div>
				<form action="/create_expense/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>Wallet</label>
						<select name="wallet" class="form-control">
							{% for wallet in all_wallets %}
								<option value={{wallet.id}}>{{wallet.name}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label>Title</label>
						<input class="form-control" type="text" name="expense_title" placeholder="Title">
					</div>
					<div class="form-group">
						<label>Amount</label>
						<input class="form-control" type="number" name="expense_amount" placeholder="Amount">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" name="expense_description" placeholder="Description"></textarea>
					</div>
					<button type="submit" class="btn btn-success">Create Expense</button>
				</form><br>
				<hr>
				<div class="sub-head mt-4 mb-2">
					<h4>All Expenses</h4>
				</div>
				<table class="table table-striped">
					<tr>
						<th>Expense Title</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Timestamp</th>
						<th>Wallet</th>
						<th></th>
						<th></th>
					</tr>
					{% for expense in all_expenses %}
						<tr>
							<td>{{ expense.title }}</td>
							<td>{{ expense.description }}</td>
							<td>{{ expense.amount }}</td>
							<td>{{ expense.timestamp }}</td>
							<td>{{ expense.wallet }}</td>
							<td><a href="/delete_expense/{{expense.id}}/">Delete</a></td>
							<td><a href="/edit_expense/{{expense.id}}/">Edit</a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
{% endblock %}